.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 0;
  overflow-y: auto;
  .title {
    display: flex;
    align-items: center;
    height: 130px;
    font-size: 25px;
    font-weight: bold;
    color: #6cb4ee;
    background-color: white;
    padding: 0px 10px;
  }
  .chatsList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    flex-grow: 0;
  }
}
