.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100%;
  padding-top: 13px;
  scroll-behavior: smooth;
  .messagesBox {
    position: relative;
    top: 75px;
  }
}

.wrapper_empty_chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  h1 {
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(116, 111, 111);
    border-radius: 15px;
    background-color: cadetblue;
  }
}
