.wrapper {
  display: flex;
  min-height: 150px;
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  justify-content: space-between;
  &:hover {
    background-color: gainsboro;
  }
  .name_message {
    .name {
      font-weight: bold;
    }
    .message {
    }
  }
  .time {
    font-size: 12px;
  }
}
