.wrapper {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  &:hover {
    background-color: gainsboro;
  }
}

.name_message {
}

.time {
}

.name {
  font-weight: bold;
}

.message {
}
