.wrapper {
  height: 50px;
  border: 1px solid black;
  background-color: aqua;
  form {
    display: flex;
    button {
      background-color: burlywood;
    }
    input {
      width: 100%;
    }
  }
}
