.wrapper {
  display: flex;
  margin: 10px;
  padding-right: 10px;
  .body {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    .text {
      display: flex;
      justify-content: center;
      border-radius: 25px;
      background-color: #002244;
      padding: 15px;
      color: #f0f0f0;
      font-size: 14px;
    }
    .time {
      font-size: 12px;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

.wrapper_myMessage {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  padding-right: 10px;
  .body {
    display: flex;
    flex-direction: column;
    .text {
      border-radius: 25px;
      background-color: #a0a0a0;
      padding: 15px;
      font-size: 14px;
      margin-left: 35px;
      color: #282828;
    }
    .time {
      padding-top: 10px;
      padding-left: 5px;
      font-size: 12px;
      text-align: right;
    }
  }
}
