.wrapper {
  display: flex;
  border: 1px solid grey;
  margin: 10px;
  padding-right: 10px;
  .body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    .text {
      border-radius: 25px;
      border: 1px solid grey;
      background-color: burlywood;
      padding: 10px;
    }
    .time {
      font-size: 12px;
    }
  }
}
