.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e4d1d1;
  background: radial-gradient(ellipse farthest-corner at center center, #e4d1d1 0%, #746d6e 80%);
  background: -webkit-radial-gradient(ellipse farthest-corner at center center, #e4d1d1 0%, #746d6e 80%);
  background: -moz-radial-gradient(ellipse farthest-corner at center center, #e4d1d1 0%, #746d6e 80%);
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
  }
  button {
    margin-top: 20px;
    background-color: rgb(159, 168, 168);
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
    &:hover {
      background-color: #bdb8b8;
    }
  }
}
