.wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0px 10px;
  .avatar {
    margin-top: 10px;
  }
  .logout_button {
    height: 35px;
    width: 70px;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(161, 160, 160);
    background: #afc7c0;
    color: whitesmoke;
    font-weight: bold;
    &:hover {
      background-color: #c8c8c8;
    }
  }
}

@media (max-width: 450px) {
  .wrapper {
    flex-direction: column;
    height: 150px !important;
  }
  .logout_button {
    margin-top: 15px;
  }
}
